body{
    padding:0;
    margin:0;
}
.gradient-bg{
    background-image: linear-gradient(#060707,#0f0f10);
   height: 75vh;
   margin: 10px;
}
.container{
    display:flex;
}
.menu{
 /* background-color: blanchedalmond;*/
  flex-grow: 1;
  color: rgba(245, 239, 239, 0.696);
}
.menu>ul>li{
    display:inline;
    padding: 10px;
    margin: 10px 10px 15px 20px;
    font-size: medium;
}

.parent{
  display:flex-inline;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-80%,-80%);
  font-family: sans-serif;
  text-align: center;
  color:white;
}
.gradient-bg1{
    background-image: linear-gradient(white,white);
    height: 75vh;
   margin: 10px;
}
container-md{
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  justify-content: right;
}
.buttons{
    margin:35px 28px;
}
.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(183, 177, 177);
   align-content: right;
}

.wrapper{
    background-image: linear-gradient(#060707,#0f0f10);
   height: 5vh;
   margin: 3px;
}
.content{
    display:flex-inline;
    padding-right: 50px;
    text-align: center;
    color:white;
  }
